
div#container {
    border: none;
    background-color: mistyrose;
    /* box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px; */
    border-radius: 16px;
}

#text {

}

#name {

}

#description {

}

#icon {
    border-radius: 16px;
}